#icon {
  color: black;
}

#icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

#canclick:hover {
  cursor: pointer;
}

#cantype {
  opacity: 0.6;
}

#cantype:hover {
  cursor: text;
}

#menu {
  color: black;
}

#menu:hover {
  transform: scale(1.05);
}

.no-border {
  border: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
}

#emoji {
  opacity: 0.8;
}

#emoji:hover {
  cursor: pointer;
  opacity: 0.5;
}

#prof-picture {
  bordercolor: "black";
  color: "black";
}

#card-header {
  padding: 0 !important;
}

.card {
  border: none;
}

#name {
  opacity: 0.8;
}

#profile {
  cursor: pointer;
}

#switch {
  color: #1da1f2;
}

#switch:hover {
  color: black;
  cursor: pointer;
}

#link {
  cursor: pointer;
}

#comment {
  cursor: pointer;
  color: gray;
}

#marks {
  color: #c0c0c0 !important;
  text-decoration: none !important;
}

#marks:hover {
  text-decoration: underline !important;
}

#story:hover {
  cursor: pointer;
}
